.category {
    margin-top: var(--margin-between-each-category);
}

.category_title {
    font-weight: 400;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
}

.product_list_with_buttons {
    display: flex;
    align-items: center;
    /* gap: 20px; */
    margin-top: 16px;
    position: relative;
}

.product_list {
 
    background-color: var(--dark-bkground);
    display: flex;
    gap: var(--margin-between-cards);
    max-width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    border-radius: 15px;
}

.prev, .next {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.product_list::-webkit-scrollbar {
    /* background: transparent; */
    display: none;
    /* width: 0;
    height: 0; */
}

.prev {

    position: absolute;
    left: -30px;
}

.next {

    position: absolute;
    right: -30px;
}




