.search {
    display: block;
    width: var(--sidebar-width);
    /* text-align: center; */
    background-color: var(--dark-bkground);
    height: fit-content;
    flex: 0 0 auto;
    padding: 24px 30px;
    border-radius: 15px ;
}

.search h3 {
    color: rgba(165, 165, 165, 1);
    font-weight: 300;
    margin-bottom: 11px;
}

.search .drop_down {

    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--margin-between-each-dropdown);
}

.search .select {
    padding: 8px 13px;
    background-color: var(--light-bkground);
    font-weight: 400;
    border-radius: 4.68775px;
    width: 100%;
}